body {
    margin: 0;
    padding: 0;
    background-color: #050805;
    overflow: hidden;
    touch-action: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    display: block;
    /* Mantém a proporção de tela deitada */
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 16 / 9; 
    background: #0d110d;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
