body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0f1418; /* Cor fora do canvas */
    overflow: hidden;
}

canvas {
    background: linear-gradient(to bottom, #131a13, #2d3436); /* Céu tóxico */
    border: 4px solid #1e272e;
    box-shadow: 0 0 50px rgba(46, 204, 113, 0.2); /* Brilho de radiação */
}
